<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
    </head>

    <body>

        <header>
            Travel Application
        </header>

        <main>
            <section>
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    City/Country: 
                    <input id="city" type="text" name="input" placeholder="City/Country">
                    Leaving:
                    <input id="leaving" type="date" name="input" placeholder="Leaving date">
                    Returning:
                    <input id="returning" type="date" name="input" placeholder="Returning date">
                    <input id="submit" type="submit" value="submit">
                </form>
            <section>

            <section class="results">
                <strong>Your trip Information:</strong>
                <div class= "img"><img id="image"></div>
                <div>
                    <p>Country: <div id="country"></div></p>
                    <p>Latitude: <div id="latitude"></div></p>
                    <p>Longitude: <div id="longitude"></div></p>
                    <p>Weather description: <div id="status"></div></p> 
                </div>          
            </section>
        </main>
        <footer>
            Designed by Bashayer,
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
